h2{
    font-size: 2.5em;
    color: #263183
}

header{
    background-color: rgba(0, 255, 255, 0.24);
    padding: 20px 0;
}
.topo{
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #5668F0;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}
nav a:hover{
    color: #263183;
    text-decoration: underline;
}


#SaibaMais {
    margin: 25px;
}
.Saiba{
    display: inline-block;
    width: 40%;
}
.Saiba p{
    font-size: 1.1em;
}
.ImgSaibaMais{
    border-radius: 15px;
    width: 40%;
    margin-left: 100px;
    box-shadow: 5px 5px 20px black;
}
footer{
    text-align: center;
    padding: 10px 0;
}
.LogoRodape{
    width: 15%;
}